.gallery,
.buttons {
    height: 500px;
    line-height: 500px;
}

.gallery img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: none;
}

.gallery img.active {
    display: block;
}

.buttons .bi {
    font-size: 3rem;
    color: black;
    cursor: pointer;
}